@font-face {
    font-family: "Barlow";
    src: url(../fonts/BarlowCondensed-Light.ttf);
}

@font-face {
    font-family: "Bungee Outline";
    src: url(../fonts/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: "Bungee Shade";
    src: url(../fonts/BungeeShade-Regular.ttf);
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-image: url("../images/beach.jpg");
    /* gör bilden att inte röra på sig undr scroll */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}

.content-container {
    height: 90vh;
    width: 80vw;
    margin: 50px auto;
    background-color: rgba(27, 27, 27, 0.4);
    border-radius: 20px;
    font-family: Bungee Shade;
}